<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="img/favicon2.png" rel="icon" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>
    <br />
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery/jquery-3.6.0.min.js"></script>

    <div>
        @RenderBody()
    </div>

    <footer>This is the footer.</footer>



</body>
</html>
