@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Zach Barton Mission";
}

<h1>Zach Barton</h1>
<br />
<img src="img/fishing.jpg" />
<br />
<h2>What I hope to get out of this class:</h2>
<p>
    I hope that by the end of this class I can better understand the process of developing web aplications for various different use cases within business.
    I also hope to become a master at c# and jQuery ;). Eventually I hope to own a business where I can apply these skills to help other businesses run more
    efficiently.
</p>
<h3>My top three jobs:</h3>
<ul>
    <li>1. Business technology consultant</li>
    <li>2. Data analytics</li>
    <li>3. Web Developer</li>
</ul>
<br />



